:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--white);
  color: var(--slate);
}
address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex {
  display: flex;
}
.modal-overlay.is-open,
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-none {
  display: none;
}
/* -----------------------Start----------------------- */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and ((min-width: 767px)) {
  .container {
    max-width: 768px;
  }
}
@media screen and ((min-width: 1158px)) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* -----------------------HEADER,MODAL,BURGER----------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header-logo_span {
  color: var(--navy-blue);
}

.header-nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header-adress ul li a:hover,
.header-nav li a:hover,
.header-adress ul li a:focus,
.header-nav li a:focus,
.nav-list-item a:hover,
.nav-list-item a:focus {
  color: var(--ocean);
}
.header-nav-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
.mobile-menu {
  display: block;
  background-color: var(--white);
  position: fixed;
  inset: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 40px;
  overflow: auto;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-close {
  background-color: transparent;
}
.mobile-nav {
  margin-bottom: 40px;
}
.mobile-nav-list {
  flex-direction: column;
  row-gap: 40px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 16px;
  width: 288px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}
.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-btn-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.nav-list-item a.mobile-link-active {
  color: var(--ocean);
}
.mobile-address-list {
  flex-direction: column;
  row-gap: 24px;
}
.mobile-address-list li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.mobile-address-list li a.mobile-address-active,
.mobile-address-list li a:focus,
.mobile-address-list li a:hover {
  color: var(--iris);
}
.mobile-address {
  margin-bottom: 48px;
}
.mobile-social-list {
  margin-top: 0;
  justify-content: start;
  column-gap: 40px;
}

.list-social-item {
  width: 40px;
  height: 40px;
}
.social-links {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--ocean);
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-case {
  text-align: center;
}
.form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-case {
  margin-bottom: 8px;
}
.modal-form-comment {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 40px;
}
.input-container input {
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.input-container input:focus,
.form-comment:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container input:focus + .input-icon {
  fill: var(--iris);
}
.form-comment {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-privacy {
  margin-bottom: 24px;
}
.form-label-poliicy {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.form-label-poliicy-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-label-poliicy input {
  margin-right: 8px;
}
.form-label-check {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  padding: 4px 3px;
}
.form-privacy-check:checked + .form-label-poliicy .form-label-check {
  background-color: var(--ocean);
  border: none;
}
.form-privacy-check:checked + .form-label-poliicy {
  fill: var(--cloud);
}

.form-modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.list-social {
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.checkbox-icon {
}
@media screen and ((min-width: 767px)) {
    .modal {
        
        padding: 72px 24px 24px 24px;
      }
  .mobile-menu {
    display: none;
  }
  .mobile-none {
    display: block;
  }
  .desktop-none {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }
  .header-nav {
    padding: 0;
    justify-content: start;
  }
  .header-nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .header-adress-list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    row-gap: 12px;
  }
  .header-nav_list li a {
    display: inline-block;
    padding: 24px 0;
  }
  .header-nav_link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .header-nav_link-active {
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav_link-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: var(--ocean);
  }

  .header-adress-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .header-adress-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-case {
    max-width: 584px;
    
  }
  .modal {
    width: 408px;
  }
}
@media screen and ((min-width: 1157px)) {
    .footer-case{
        max-width: 1158px;
        padding: 0 15px;
    }
  .section {
    padding: 120px 0;
  }
  .header-logo {
    margin-right: 76px;
  }

  .header-nav_link {
    font-size: 16px;
    line-height: 1.5;
  }
  .header-adress-link{
    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

  }
  .header-adress-list {
    width: 344px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
  }
}

/* -----------------------SECTION,FOOTER----------------------- */
.section {
  padding: 96px 0;
}
.hero-title {
  max-width: 216px;
  margin: 0 auto;
}
.hero {
  padding: 72px 0;
}
.hero-title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}
.hero-btn {
  display: block;
  background: var(--iris);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus,
.form-btn:hover,
.form-btn:focus,
.form-modal-btn:hover,
.form-modal-btn:focus {
  background: var(--ocean);
}
.taem-title,
.portfolio-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.service-list,
.portfolio-list,
.team-list,
.footer-case {
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}

.service-list_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list_card_text,
.service-list_text,
.portfolio-list-item_text,
.footer-text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.service-list_title,
.team-list_card_title,
.portfolio-list-item_title {
  margin-bottom: 8px;
}
.sercive-list-icon {
  display: none;
}
.team-list_card_title,
.portfolio-list-item_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team {
  background-color: var(--cloud);
}
.team-list_card {
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.service-list,
.team-list,
.portfolio-list {
  padding: 0;
  width: 100%;
}
.team-list {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-list_card-case {
  padding: 32px 0;
  text-align: center;
}
.portfolio-list-item-case {
  padding: 32px 16px;
  border-top: none;
  border: 1px solid #e7e9fc;
}
.portfolio-list {
  row-gap: 48px;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: var(--cloud);
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.footer-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-logo_span {
  color: var(--cloud);
}
.footer-social-links:hover,
.footer-social-links:focus {
  background-color: var(--green);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 288px;
}
.footer {
  background: var(--navy-blue);
  padding: 96px 0;
}
.footer-case {
  align-items: baseline;
}
.footer-social-text,
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.footer-list-social {
  margin-top: 0;
  gap: 16px;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.form-btn-svg {
  margin-left: 16px;
}
.footer-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and ((min-width: 767px)) {
  .section {
    padding: 120px 0;
  }
  .hero-title {
    max-width: 496px;
  }
  .hero {
    padding: 112px 0;
  }
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }
  .service-list {
    column-gap: 24px;
  }
  .service-list_item,
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .service-list_title {
    text-align: start;
  }
  .team-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-case {
    justify-content: start;
  }
  .footer-about {
    margin-right: 24px;
  }
  .footer-social-text,
  .footer-subscribe-text,
  .footer-logo {
    text-align: start;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-form-input {
    margin-bottom: 0;
    margin-right: 24px;
  }
  .hero{
    max-width: 768px;
  }
}
@media screen and ((min-width: 1157px)) {
  .hero{
    max-width: 1440px;
  }
  .section {
    padding: 120px 0;
  }
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .sercive-list-icon {
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
  .service-list_item {
    width: calc((100% - 72px) / 4);
  }
  .service-list_title {
    font-weight: 500;
    font-size: 20px;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .footer {
    padding: 100px 0;
  }
  .footer-about {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 80px;
  }
}

/* -----------------------BG----------------------- */



@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile@2x.jpg);
  }
}

@media (min-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-laptop.jpg);
  }
}

@media (min-width: 767px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-laptop@2x.jpg);
  }
}

@media (min-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
}
@media (min-width: 1157px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg@2x.jpg);
  }
}
